@media screen and (max-width: 1200px) {
  .wrapper, .footer {
    min-width: 0px; 
  } 
}
@media screen and (max-width: 992px) {
  .container {
    width: 768px;
    padding: 0px 20px;
    box-sizing: border-box; 
}

  .sidebar {
    float: none;
    width: 100%;
    margin-bottom: 40px; }

  .stuff {
    float: none;
    width: 100%; }

  .nav__list {text-align: left; }

  .nav__item {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px; 
}
    .nav__item:first-child {margin-left: 0; }

  .nav__link {
    padding: 0;
    border: 0 none; 
}

  .nav__item_active .nav__link {
    color: #32c3e5;
    font-weight: bold;
}

  .about__left {width: 35%; }

  .about__right {width: 65%; }

  .about__pic-item {
    width: 170px;
    height: 170px; 
}

  .portfolio__list {margin-left: -3%; }

  .portfolio__item {
    width: 30%;
    margin-left: 3%;
    margin-bottom: 25px; 
} }

@media screen and (max-width: 768px) {

  .container {width: 480px; }

  .header__left {width: 75%; }

  .header__right {width: 25%; }

  .contacts {margin-top: 22px; }





    .contacts .contacts__trigger {
}
    .contacts:hover .contacts__trigger {
}




  .contacts__dropdown {
    transform: translateX(0);
    right: 0;
    left: auto; }

  .contacts__dropdown-triangle {
    right: 0px;
    left: auto;
    transform: translateX(0); }

  .contacts__trigger {
    text-indent: 9999px;
    display: inline-block;
    width: 32px;
    height: 32px;
    white-space: nowrap; }

  .about__left {
    float: none;
    width: 100%;
    margin-bottom: 15px; }

  .about__right {
    float: none;
    width: 100%; }

  .content-title {text-align: center; }

  .about__text {height: auto; }

  .about__download {text-align: center; }

  .career__left {
    float: none;
    width: 100%;
    margin-bottom: 20px;
    text-align: center; }

  .career__pic {display: inline-block; }

  .career__right {
    float: none;
    width: 100%; }

  .career__block:after, .career__block:before {display: none; }

  .career__block .career__year {display: none; }

  .career__block {width: 100%; }

  .wrapper:after {height: 95px; }

  .footer {
    height: 95px;
    margin-top: -95px; 
  }
      .footer .container {padding-top: 15px; }

  .copyright {
    position: static;
    text-align: center; }

  .socials__list {
    position: static;
    text-align: center; }

  .footer__left {margin-bottom: 10px; }

  .portfolio__list {margin-left: -2%; }

  .portfolio__item {
    width: 48%;
    margin-left: 2%; } }

@media screen and (max-width: 480px) {
  .container {
    width: 95%;
    padding: 0;
    box-sizing: border-box; }

  .user__name {
    max-width: 150px;
    font-size: 14px;
    width: 56%; }

  .nav__list {text-align: center;}

  .nav__item {margin-left: 7%;}

  .nav__link-text {font-size: 14px; }

  .nav__link-icon {display: none; }

  .about__text {height: auto; }

  .about__pic-item {
    max-width: 140px;
    max-height: 140px; }

  .about__text {font-size: 16px; }

  .career__title {font-size: 18px; }

  .career__occupation, .career__date {font-size: 16px; }

  .portfolio__list {margin-left: 0; }

  .portfolio__item {
    width: 100%;
    margin-left: 0; } }