.footer {
    background: #414141;
}

.socials__link {
    width: 32px;
    height: 31px;
    display: block;
    /*background-image: url('../../img/icons/socials.png');*/
    /*background-image: url('../img/icon/socials.png');*/
    background-repeat: no-repeat;
}

.socials__link:hover {
    background-image: url("../../img/icons/");  /*не работает*/
}

.socials__link.socials__link_fb {
    background-position: 0 0;
    background-image: url('../../img/icons/facebook.png');
}

.socials__link.socials__link_fb:hover {
    background-image: url("../../img/icons/facebook-hover.png");
}

.socials__link.socials__link_vk {
    background-position:  0;
    background-position:  0;
    background-image: url('../../img/icons/vk.png');
}

.socials__link.socials__link_vk:hover {
    background-image: url("../../img/icons/vk-hover.png");
}

.socials__link.socials__link_tw {
    background-position:  0;
    background-position:  0;
    background-image: url('../../img/icons/twitter.png');
}

.socials__link.socials__link_tw:hover {
    background-image: url("../../img/icons/twitter-hover.png");
}

.copyright {
    font-size: 14px;
    line-height: 16px;
    color: #9c9c9c;
    position: absolute;
    left: 0;
    top: 18px;
}

.socials__list {
    position: absolute;
    right: 0;
    top: 10px;
}

.socials__item {
    display: inline-block;
}
